body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #182747;
  font-family: 'Poppins', sans-serif;
}

.box {
  background-color: #146c94;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 50px auto;
  box-shadow: 5px 5px 8px #d3d3d3;
}

#enterForm > input {
  width: 88%;
  padding: 1% 1%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  font-style: italic;
  font-size: 1em;
  margin-left: 1em;
  border-radius: 10px;
  height: 20px;
}

#enterForm > button {
  background: transparent;
  border: none;
  color: #a5c0dd;
  cursor: pointer;
}

.clear {
  width: 100%;
  padding: 0;
  margin: 0;
}

#clearBtn {
  width: 100%;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 1em;
  cursor: pointer;
  background-color: #3c4048;
  color: #b2b2b2;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 1em;
}

h2 {
  margin-left: 0.5em;
  color: #feff86;
}

hr {
  border: 0.8px solid #a5c0dd;
  margin: 0;
  padding: 0;
  width: 88%;
  margin-left: 0.6em;
}

#container {
  margin-left: 0.5em;
}

.remove {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: auto;
}

.fa {
  color: #a5c0dd;
}

.btnremove {
  font-size: 1.2em;
  border: none;
  background: transparent;
  margin-top: -20px;
}

.fa:hover {
  color: #ff6969;
  cursor: pointer;
}

.task {
  margin-top: 10px;
  margin-left: 1em;
}

.btnEdit {
  font-size: 1.2em;
  border: none;
  background: transparent;
  margin-top: -28px;
  color: #a5c0dd;
  margin-right: 25px;
}

.btnEdit:hover {
  color: #19a7ce;
}

.txtInput {
  border: none;
  width: 80%;
  height: 30px;
}

#clearBtn:hover {
  background: #dbdfea;
  color: #ff6969;
}

label {
  color: #feff86;
  font-family: 'Poppins', sans-serif;
}

.chkBox {
  margin-left: -8px;
}
